/*
Created: Joel Herr
Email: joelherr@yahoo.com
Date created: 11/05/2019
Date last modified: 11/05/2019
*/

header {
    background-color: #696969;
    color:#fef9ff;
    height: 100px;
    text-align: center;
    padding: 2px;
}

footer {
    background-color: #696969;
    color: white;
    text-align: center;
    padding: 2px 2px 2px 2px;
}

h1 { 
    font-size: "10 em";
}